- lvl1 = "am16"

= partial(:"header", :locals => { :lvl1 => lvl1 })
.am-container
  .modal-container.am-voting-modal
    .modal
      %img.modal-close{ src: "images/am/close.svg" }
      %h1.modal-h1 Voting
      .am-voting-modal-col
        %h2 Registered shareholders
        %a.arrow-link
          Vote
          = partial(:arrow)
        %p.modal-p (you hold shares in your own name or through the Verizon Savings Plan) **Savings Plan shares must be voted before the close of business on May [__], 2016.
      .am-voting-modal-col
        %h2 Beneficial shareholders
        %a.arrow-link
          Vote
          = partial(:arrow)
        %p.modal-p (you hold shares through a bank, broker or other institution)
      %p.modal-p To vote online, you will need to enter your control number to ensure the security of your vote. You will find your control number on your Proxy Card, Notice of Internet Availability of Proxy Materials or Voting Instruction Form, or included in your email notification.

  .modal-container.am-just-so-you-know-modal
    .modal
      %img.modal-close{ src: "images/am/close.svg" }
      %h1.modal-h1 Just so you know
      %p.modal-p The purpose of this website is to provide you with information about Verizon’s 2017 annual meeting. Among other things, we discuss the meeting agenda, including the management and shareholder proposals. We also explain how you can vote. This website is not intended to be a substitute for reading Verizon’s 2017 Proxy Statement, which includes information required by the Securities and Exchange Commission. We encourage you to read our proxy statement in full before you vote!
      %button.button.modal-continue.button__red
        Continue
        = partial(:arrow)

  .am-info
    .am-info-bg
    %h1.am-info-header
      Our Annual
      %br>/
      Meeting
    .am-info-when
      May 4, 2017
      %br>/
      8:30 AM, local time
      %br>/
      %a(href="event.ics")
        Add to calendar
        %svg{:height => "13", :viewbox => "0 0 10 13", :width => "10", :xmlns => "http://www.w3.org/2000/svg"}
          %g
            %path{:d => "M9.2 6.2C9.2 5.9 9.1 5.7 8.9 5.6L2 0.2C1.5-0.2 0.9-0.1 0.5 0.4 0.1 0.9 0.2 1.5 0.7 1.9L6.5 6.5 0.7 11.1C0.2 11.4 0.2 12.1 0.5 12.6 0.9 13 1.6 13.1 2 12.8L8.9 7.4C9.3 7.1 9.4 6.6 9.2 6.2Z"}

    .am-info-where
      Dallas Marriott Las Colinas
      %br>/
      223 West Las Colinas Boulevard 
      %br>/
      Irving, Texas 75039
      %br>/
      %a(target="_blank" href="https://goo.gl/maps/8WsRVkrqVJR2")
        View on map
        %svg{:height => "13", :viewbox => "0 0 10 13", :width => "10", :xmlns => "http://www.w3.org/2000/svg"}
          %g
            %path{:d => "M9.2 6.2C9.2 5.9 9.1 5.7 8.9 5.6L2 0.2C1.5-0.2 0.9-0.1 0.5 0.4 0.1 0.9 0.2 1.5 0.7 1.9L6.5 6.5 0.7 11.1C0.2 11.4 0.2 12.1 0.5 12.6 0.9 13 1.6 13.1 2 12.8L8.9 7.4C9.3 7.1 9.4 6.6 9.2 6.2Z"}
    .am-info-countdown(data-date="2017/05/04")
      .am-info-countdown-days
        .am-info-countdown-days-content
          96
        .am-info-countdown-days-header
          Day<i>s</i>
      .am-info-countdown-colon
        = ":"
      .am-info-countdown-hours
        .am-info-countdown-hours-content
          22
        .am-info-countdown-hours-header
          Hour<i>s</i>
      .am-info-countdown-colon
        = ":"
      .am-info-countdown-minutes
        .am-info-countdown-minutes-content
          33
        .am-info-countdown-minutes-header
          Minute<i>s</i>
      .am-info-countdown-colon
        = ":"
      .am-info-countdown-seconds
        .am-info-countdown-seconds-content
          51
        .am-info-countdown-seconds-header
          Second<i>s</i>

  .am-download
    .am-download-link.button.button__red
      Download 2017 Proxy
    .am-download-link.button
      Download 2016 Annual Report

  .container
    .am-video.am-video__rtl
      .am-video-content
        .am-video-content-preview
          = '<iframe src="https://player.vimeo.com/video/207234457?color=CD040B" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
        .am-video-content-author
          Our Chairman and CEO, Lowell McAdam
      .am-video-text
        .am-video-text-quote “
        %p When you think about the types of services our network can provide in 2017 and beyond, Verizon will continue to cement and expand our lead over our competition.
        .am-video-text-quote ”
    .am-video
      .am-video-content
        .am-video-content-preview
          = '<iframe src="https://player.vimeo.com/video/207141222?color=CD040B" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
        .am-video-content-author
          Our Human Resources Committee Chair,
          %br>/
          Clarence Otis, Jr.
      .am-video-text
        .am-video-text-quote “
        %p Verizon’s compensation program is designed to reinforce a results-oriented culture and inspire our leaders to grow shareholder value over the long term.
        .am-video-text-quote ”
  .am-stats
    .container
      .am-stats-header
        %h2
          Our executive compensation
          %span program

      .am-stats-chart
        .am-stats-chart-header
          2016 variable vs.
          %nobr fixed pay mix
        .am-stats-chart-donut
          %canvas.chart(width="160" height="160" data-chart="90,10" data-chartcolors="#0088CE,#FF7900")
        .am-stats-chart-legend
          .am-stats-chart-legend-item
            %i(style="background:#0088CE")
            90% Incentive-based pay
            %span
              70%
              %em long-term incentives
            %span
              20%
              %em short-term incentives
          .am-stats-chart-legend-item
            %i(style="background:#FF7900")
            10% Fixed pay
            %span
              %em Base salary
      .am-stats-chart
        .am-stats-chart-header
          2016 Short-Term Plan performance measures
        .am-stats-chart-donut
          %canvas.chart(width="160" height="160" data-chart="50,25,20,5" data-chartcolors="#0088CE,#FF7900,#FBD362,#00AF3F")
        .am-stats-chart-legend
          .am-stats-chart-legend-item
            %i(style="background:#0088CE")
            45% Adjusted EPS
          .am-stats-chart-legend-item
            %i(style="background:#FF7900")
            25% Free cash flow
          .am-stats-chart-legend-item
            %i(style="background:#FBD362")
            25% Total revenue
          .am-stats-chart-legend-item
            %i(style="background:#00AF3F")
            5% Diversity and sustainability
      .am-stats-chart
        .am-stats-chart-header
          Long-term incentive program structure
        .am-stats-chart-donut
          %canvas.chart(width="160" height="160" data-chart="60,40" data-chartcolors="#0088CE,#00AF3F")
        .am-stats-chart-legend
          .am-stats-chart-legend-item
            60% PSUs
            %span
              %i(style="background:#FF7900")
              2/3
              %em eligible to vest based on relative TSR
            %span
              %i(style="background:#0088CE")
              1/3
              %em eligible to vest based on Cumulative Free Cash Flow
          .am-stats-chart-legend-item
            %i(style="background:#00AF3F")
            40% RSUs
            %span
              %em eligible to vest based continued employment through the three-year award cycle
  .am-agenda
    .container
      .row
        .col-sm-8.am-agenda-header
          %h2 Agenda and Voting Recommendations
        .col-sm-4.am-agenda-download
          .button.button__red Download 2017 Proxy
      .am-agenda-list
        .am-agenda-list-item
          .am-agenda-list-item-icon
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Item 1
          .am-agenda-list-item-header Election of Directors
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote for the election of these Director candidates.
        .am-agenda-list-image
          %img.am-agenda-list-image-bg(alt="" src="images/agenda/staff.jpg")
          .am-agenda-list-image-links
            %i(style="left:71px;top:197px")
              %b Lowell C. McAdam<br><em>Chairman and Chief Executive Officer, Verizon Communications Inc.</em>
            %i(style="left:147px;top:186px")
              %b Shellye L. Archambeau<br><em>Chief Executive Officer, MetricStream, Inc.</em>
            %i(style="left:200px;top:204px")
              %b Rodney E. Slater<br><em>Partner, Squire Patton Boggs LLP</em>
            %i(style="left:318px;top:179px")
              %b Mark T. Bertolini<br><em>Chairman and Chief Executive Officer, Aetna Inc.</em>
            %i(style="left:358px;top:211px")
              %b Kathryn A. Tesija<br><em>Former Executive Vice President and Chief Merchandising and Supply Chain Officer, Target Corporation</em>
            %i(style="left:465px;top:190px")
              %b Gregory G. Weaver<br><em>Former Chairman and Chief Executive Officer, Deloitte & Touche LLP</em>
            %i(style="left:510px;top:183px")
              %b Richard L. Carrión<br><em>Chairman and Chief Executive Officer, Popular, Inc.</em>
            %i(style="left:600px;top:197px")
              %b Melanie L. Healey<br><em>Former Group President of The Procter & Gamble Company</em>
            %i(style="left:645px;top:186px")
              %b Gregory D. Wasson<br><em>Former President and Chief Executive Officer, Walgreens Boots Alliance, Inc.</em>
            %i(style="left:747px;top:186px")
              %b Clarence Otis, Jr.<br><em>Former Chairman and Chief Executive Officer, Darden Restaurants, Inc.</em>
            %i(style="left:805px;top:197px")
              %b M. Frances Keeth (Lead Director)<br><em>Retired Executive Vice President, Royal Dutch Shell plc</em>
            %i(style="left:837px;top:186px")
              %b Karl-Ludwig Kley<br><em>Former Chairman of the Executive Board and Chief Executive Officer, Merck KGaA</em>
          .am-agenda-list-image-names
            %p
              %i Left to right
            .row
              .col-sm-6
                %p
                  %b
                    %em Lowell C. McAdam
                  %span Chairman and Chief Executive Officer, Verizon Communications Inc.
                %p
                  %b
                    %em Shellye L. Archambeau
                  %span Chief Executive Officer, MetricStream, Inc.
                %p
                  %b
                    %em Rodney E. Slater
                  %span Partner, Squire Patton Boggs LLP
                %p
                  %b
                    %em Mark T. Bertolini
                  %span Chairman and Chief Executive Officer, Aetna Inc.
                %p
                  %b
                    %em Kathryn A. Tesija
                  %span Former Executive Vice President and Chief Merchandising and Supply Chain Officer, Target Corporation
                %p
                  %b
                    %em Gregory G. Weaver
                  %span Former Chairman and Chief Executive Officer, Deloitte & Touche LLP
              .col-sm-6
                %p
                  %b
                    %em Clarence Otis, Jr.
                  %span Former Chairman and CEO, Darden Restaurants, Inc.
                %p
                  %b
                    %em M. Frances Keeth (Lead Director)
                  %span Retired Executive Vice President, Royal Dutch Shell plc
                %p
                  %b
                    %em Karl-Ludwig Kley
                  %span Chairman of the Executive Board and CEO, Merck KGaA
                %p
                  %b
                    %em Richard L. Carrión
                  %span Chairman and CEO, Popular, Inc.
                %p
                  %b
                    %em Melanie L. Healey
                  %span Former Group President of North America for The Proctor & Gamble Company
                %p
                  %b
                    %em Gregory D. Wasson
                  %span Former President and CEO, Walgreens Boots Alliance, Inc.
          .am-agenda-list-image-names.am-agenda-list-image-names__tablet
            %p
              %i Left to right
            .row
              .col-xs-6
                %p
                  %b
                    %em Lowell C. McAdam
                  %span Chairman and CEO, Verizon Communications Inc.
                %p
                  %b
                    %em Shellye L. Archambeau
                  %span CEO, MetricStream, Inc.
                %p
                  %b
                    %em Rodney E. Slater
                  %span Partner, Squire Patton Boggs LLP
                %p
                  %b
                    %em Mark T. Bertolini
                  %span Chairman and CEO, Aetna Inc.
                %p
                  %b
                    %em Kathryn A. Tesija
                  %span Strategic Advisor, Target Corporation
                %p
                  %b
                    %em Gregory G. Weaver
                  %span Former Chairman and CEO, Deloitte & Touche LLP
                %p
                  %b
                    %em Richard L. Carrión
                  %span Chairman and Chief Executive Officer, Popular, Inc.
              .col-xs-6
                %p
                  %b
                    %em Melanie L. Healey
                  %span Former Group President of The Procter & Gamble Company
                %p
                  %b
                    %em Gregory D. Wasson
                  %span Former President and Chief Executive Officer, Walgreens Boots Alliance, Inc.
                %p
                  %b
                    %em Clarence Otis, Jr.
                  %span Former Chairman and Chief Executive Officer, Darden Restaurants, Inc.
                %p
                  %b
                    %em M. Frances Keeth (Lead Director)
                  %span Retired Executive Vice President, Royal Dutch Shell plc
                %p
                  %b
                    %em Karl-Ludwig Kley
                  %span Former Chairman of the Executive Board and Chief Executive Officer, Merck KGaA
        .am-agenda-list-item
          .am-agenda-list-item-icon
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Item 2
          .am-agenda-list-item-header Ratification of auditors
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote for ratification.
            %p
              %em We are asking shareholders to ratify the Audit Committee’s appointment of Ernst & Young LLP as Verizon’s independent registered public accounting firm for 2017. Information on fees paid to Ernst & Young in 2016 and 2015 appears on page 25 of the proxy statement.
        .am-agenda-list-item
          .am-agenda-list-item-icon
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Item 3
          .am-agenda-list-item-header Advisory vote to approve executive compensation
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote for this proposal.
            %p
              %em We are asking shareholders to approve, on an advisory basis, the compensation of our named executive officers as described in the sections titled “Compensation Discussion and Analysis” and “Compensation Tables” beginning on page 28 of the proxy statement. We hold this advisory vote on an annual basis.
        .am-agenda-list-item
          .am-agenda-list-item-icon
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Item 4
          .am-agenda-list-item-header Advisory vote on the frequency of future advisory votes to approve executive compensation
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote for conducting future advisory votes on executive compensation every year.
            %p
              %em We are asking shareholders to vote on whether future advisory votes on executive compensation should occur every year, every two years or every three years, as described on page 65 of the proxy statement.
        .am-agenda-list-item
          .am-agenda-list-item-icon
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Item 5
          .am-agenda-list-item-header Approval of Verizon’s 2017 Long-Term Incentive Plan
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote for this proposal.
            %p
              %em We are asking shareholders to approve Verizon’s 2017 Long-Term Incentive Plan, as described on page 66 of the proxy statement.
        .am-agenda-list-item
          .am-agenda-list-item-icon.am-agenda-list-item-icon__down
            %img(alt="" src="images/agenda/thumb.svg")
          .am-agenda-list-item-num Items 6—11
          .am-agenda-list-item-header Shareholder proposals
          .am-agenda-list-item-content
            %p
              %i The Board of Directors recommends that you vote against each of the shareholder proposals.
            .row
              .col-xs-6
                %span Item 6
                %p Human Rights Committee
                %span Page 78 of the proxy statement
              .col-xs-6
                %span Item 7
                %p Report on Greenhouse Gas Reduction Targets
                %span Page 82 of the proxy statement
            .row
              .col-xs-6
                %span Item 8
                %p Special Shareowner Meetings
                %span Page XX of the proxy statement
              .col-xs-6
                %span Item 9
                %p Report on Gender Pay Equity
                %span Page XX of the proxy statement
            .row
              .col-xs-6
                %span Item 10
                %p Executive Compensation Clawback Policy
                %span Page XX of the proxy statement
              .col-xs-6
                %span Item 11
                %p Stock Retention Policy
                %span Page XX of the proxy statement

            .row
              .col-xs-6
                %span Item 12
                %p Limit Matching Contributions for Executives
                %span Page XX of the proxy statement
      .am-vote
        = partial(:"am-vote")


= partial(:"footer", :locals => { :lvl1 => lvl1 })
