- lvl1 = "home"
= partial :header, locals: { :lvl1 => lvl1 }
.ar
  .ar-dots
    - (1..6).each do |i|
      .ar-dot

  .ar-slide.ar-slide-hero
    %h2.ar-slide-header
      A better future for everyone
      %a.ar-slide-hero-link{ href: "letter.html" }
        Skip to Chairman’s letter
        %img.ar-slide-hero-icon{ src: "images/home/more_red.svg" }
    %img.ar-slide-play-button{ src: "images/play.svg" }

  = partial :arslide, locals: { video: 'areas-of-growth', header: 'Serving the digital customer', subheader: 'As technology changes, so do  the needs of our customers.  Our investments and assets position us uniquely in the digital world and enable us to reach customers where they are.' }

  = partial :arslide, locals: { video: 'network-superiority', header: 'Network superiority', subheader: 'We believe a better network matters. That’s why we work continually to evolve next generation networks.' }

  = partial :arslide, locals: { video: 'areas-of-growth', header: 'Areas of growth', subheader: 'Verizon has become a major force in the Internet of Things marketplace and we’ve dramatically transformed our telematics capabilities.' }

  = partial :arslide, locals: { video: 'social-problems', header: 'Solving social problems', subheader: 'At Verizon, we’ve been building and advancing digital infrastructure and solutions for decades. Building a more connected community for all is what we do best.' }

  = partial :arslide, locals: { video: 'areas-of-growth', header: 'The evolution of Verizon', subheader: 'Verizon is a global technology company delivering the promise of the digital world to millions of customers every day. Watch this video to see how it all began.' }

.ar-footlinks
  = partial :arfootlink, locals: { header: "Financial highlights", paragraph: "We’ve stepped up to the challenge of positioning Verizon to be an innovator in the digital-first mobile future while delivering another year of strong operating and financial performance.", href: "financial-highlights.html", link: "View our 2016 highlights" }
  = partial :arfootlink, locals: { header: "Corporate responsibility highlights", paragraph: "We make it our business to use our assets to make the world a better place for us, and for future generations.", href: "goals.html", link: "Our goals and progress" }
  = partial :arfootlink, locals: { header: "Annual shareholder meeting", paragraph: "Verizon’s annual shareholder meeting will be held on May 4, 2017 in Irving, Texas. Learn more about our directors, the meeting agenda and voting.", href: "learn-more.html", link: "Learn more" }

= partial :footer, locals: { :lvl1 => lvl1 }
